

.card {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 300px;
    min-height: 90px;
    background-color: #202020;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid rgb(141, 141, 141);
    background-image: url('../../assets/guitarra.png');
    background-position: 125%;
    background-repeat: no-repeat;
    background-size: 200px;
}

.card__text{
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
    text-transform: capitalize;
}


@media screen and (max-width: 768px) {
    .card {
        width: 200px;
    }
}

@media screen and (max-width: 350px) {
    .card {
        width: 70%;
    }
}